# 以下两个 pnpm8 默认开启，这里只是显示的写出来
auto-install-peers=true
dedupe-peer-dependents=true

# 提升公用依赖到根目录，避免每个子包都需要安装
public-hoist-pattern[]=husky
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=@commitlint/cli
